body{background-color:black;color:white;}
header{width:auto; height:auto;}
section{width:100vw;height:auto;max-width:100%}
footer{width:auto; height:auto;}
img{width:250px;height:250px;}
div{ }
a:link,a:visited,a:hover{color:white;text-decoration:none;}
.body-div{margin:0;max-width:100%;position:relative;}
.section-main-div{
	
	}
.section-two-div{
	display:inline-table;
	position:relative;
	padding:8px;
    }
.section-two-divTwo{
	margin-left:50%;
	width:200px;
	position:absolute;
}
.section-tow-divTwo-div{
	background-color:#8C8C8C;
	width:200px;
	text-align:center;
	padding:9px;
	}
.img{
	display: block;
    position:relative;
    }
 #copy{
	position:absolute;
	display:block;
	bottom:3%;
	left:50%;
	transform: translate( -50%, -50% );
	text-align:center;
	font-size:1.5vh;
	font-family:"나눔스퀘어라운드";
	color: gray;
}
#bottom{
	position:relative;
	background-color: rgb(0,0,0);
	height: 100vh;
	width: auto;
}
.infoa:link { color: white; text-decoration: none;}
.infoa:visited { color: gray; text-decoration: none;}
.infoa:hover { color: green; text-decoration: underline;}
#cinfo{
	text-decoration: none;
	position:absolute;
	display:block;
	bottom:13%;
	left:50%;
	transform: translate( -50%, -50% );
	text-align:center;
	font-size:2vh;
	font-family:"나눔스퀘어라운드";
	color: gray;
	margin-bottom:20px;
}
#a-more{
	font-family:lulo-clean-w01-one-bold,sans-serif;
	font-size:16px;
	
	
	
	}