@charset "EUC-KR";
@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#loginMain{
	background-color: black;
	width: auto;
	height: 100vh;
}
#videologin {
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: 100vh;
     z-index: -1000;
     background-color: rgb(6,9,8);
     overflow: hidden;
} 

#vlogin{
	height:auto;
	width:100vw;

}
#loginbl{
	position:absolute; 
	height:60%; 
	width:40%;
	top: 50%;
	left: 25%;
	transform: translate( -50%, -50% );
	opacity: 0.85;
	text-align: center;
	z-index: 10;
}
.inputbox{
	float:left;
	border-radius: 5px;
	width: 35vw;
	height: 10vh;
	padding: 1vh;
	z-index: 50;
	box-shadow: none;
}